.search-container {
  padding-left: 32px;
  padding-right: 19px;
  min-height: 90vh;
  background-color: #000000;
}

.try-again-btn {
  background-color: #ffffff;
  color: blue;
  padding: 10px;
  border-width: 0;
  border-radius: 10px;
  cursor: pointer;
}

.search-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.no-results-view {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-results-img {
  height: 176px;
  width: 210px;
  margin-bottom: 24px;
}
.no-results-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  width: 296px;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #000000;
}
@media (min-width: 768px) {
  .search-container {
    padding-left: 165px;
    padding-right: 135px;
  }
  .no-results-img {
    width: 450px;
    height: 378px;
    margin-bottom: 48px;
  }
  .no-results-text {
    padding: 0;
    width: 100%;
    font-size: 24px;
    line-height: 31px;
  }
}
